body {
    overflow-x: hidden;
    /* Prevent horizontal scrollbar */
}

.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f8f9fa;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.offcanvas.open {
    visibility: visible;
    transform: translateX(-100%);
}
.form-floating .input-group {
    color: #fff !important;
}

@media print {
    .printoff {
        display: none !important;
    }

    body {
        /*page-break-before: always!important;*/
        max-width: 100% !important;
        max-height: 100% !important;
        width: 100% !important;
        height: 100% !important;
        padding-bottom: 10px !important;
    }
    @page {
        max-height: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        margin-top: 10px !important;
        margin-bottom: 30px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 !important;
        zoom: 120% !important;
    }
    .page-break {
        page-break-before: always;
    }

    .page-break-after {
        page-break-after: always;
    }

    .no-break {
        page-break-inside: avoid;
    }

    /*table { page-break-after:always }*/
    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    td {
        page-break-inside: avoid;
        page-break-after: auto
    }

    /*thead { display:table-header-group }
    tfoot { display:table-footer-group }*/
}

  .form-floating>.select2-container>.selection>.select2-selection {
    height: calc(3.5rem + 2px);
    padding: 1.75rem 1rem;
    padding-top: 1.75rem;
    border-radius: 0.375rem;
}

.form-floating>.select2-container--default>.selection>.select2-selection--single>.select2-selection__rendered {
    padding: 0;
    line-height: 1.5;
}

.form-floating>.select2-container--default>.selection>.select2-selection--single>.select2-selection__arrow {
    height: calc(3.5rem + 2px);
    right: 10px;
}

.form-floating>.select2-container--open>.select2-selection--single {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}
